
<div class="row" style="margin-top:-23px">
    <!-- Left Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">PFD</div>
        <div class="row" style="margin-bottom:10px">

            <div class="col" stlye="text-align:center">


                <button onclick="triggerSimEvent('INSTRUMENT_AS3X_KNOB_OUTER_L',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_AS3X_KNOB_INNER_L',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_X0_AS3X_KNOB_L_PUSH',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    PUSH
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_AS3X_KNOB_INNER_L',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_AS3X_KNOB_OUTER_L',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                Left Knob

                <br>
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_NRST',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">NRST
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_DIRECTTO',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">D->
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_BACK',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">BACK
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_MENU',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">MENU
                </button>
                <br>
                <br>
                                <button onclick="triggerSimEvent('INSTRUMENT_AS3X_KNOB_OUTER_R',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_AS3X_KNOB_INNER_R',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_X0_AS3X_KNOB_R_PUSH',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    PUSH
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_AS3X_KNOB_INNER_R',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('INSTRUMENT_AS3X_KNOB_OUTER_R',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                Right Knob
            </div>
        </div>
    </div>


</div>
