				<!-- First Row-->
				<div class="row">
					
					<!-- Lights -->
					<div class="col" style="max-width:270px; min-width:270px;">
						<div class="lead">Lights</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							<button onclick="triggerSimEvent('ALL_LIGHTS_TOGGLE',0,true);$(this).blur();" id="light-all" type="button" class="btn btn-warning" style="width:245px">Toggle All Lights</button><br>
							<table style="width:245px">
								<tr>
									<td>Strobe Lights</td>
									<td><button onclick="triggerSimEvent('STROBES_TOGGLE',0,true);$(this).blur();" id="light-strobe" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>NAV Lights</td>
									<td><button onclick="triggerSimEvent('TOGGLE_NAV_LIGHTS',0,true);$(this).blur();" id="light-nav" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Landing Lights</td>
									<td><button onclick="triggerSimEvent('LIGHTING_LANDING_LIGHTS',LIGHTING_LANDING_LIGHTS === 0 ? 1 : 0,true, 'input');$(this).blur();" id="xcub-lights-landing" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Pulse Lights</td>
									<td><button onclick="triggerSimEvent('LIGHTING_PULSE_LIGHTS',LIGHTING_PULSE_LIGHTS === 0 ? 1 : 0,true, 'input');$(this).blur();" id="xcub-lights-pulse" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Placard Lights</td>
									<td><button onclick="triggerSimEvent('LIGHTING_PANEL_1',LIGHTING_PANEL_1 === 0 ? 100 : 0,true, 'input');$(this).blur();" id="xcub-lights-placard" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
								<tr>
									<td>Glareshield Lights</td>
									<td><button onclick="triggerSimEvent('LIGHTING_GLARESHIELD_1',LIGHTING_GLARESHIELD_1 === 0 ? 100 : 0,true, 'input');$(this).blur();" id="xcub-lights-glareshield" type="button" class="btn btn-danger" style="width:55px">?</button></td>
								</tr>
							</table>
						</div>
						</div>
					</div>

				
				</div>
				
				<!-- Last Row Information -->
				<div class="row">
					<div class="col">
						<p class="font-italic text-secondary">Some controls will work differently depending on the plane.</p>
					</div>
				</div>
