<!-- First Row-->
<div class="row" style="margin-top:-23px">

    <!-- NAV Knob -->
    <div class="col" style="margin-top:20px; max-width:295px; min-width:294px">
        <div class="lead">PFD NAV Knob</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS1000_NAV_LARGE_PFD',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_NAV_SMALL_PFD',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_NAV_PUSH_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
                </button>
                <button onclick="triggerSimEvent('AS1000_NAV_SMALL_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_NAV_LARGE_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                <br>
                <button onclick="triggerSimEvent('AS1000_NAV_SWITCH_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center"><->
                </button>
            </div>
        </div>
    </div>

    <!-- HDG Knob -->
    <div class="col" style="margin-top:20px; max-width:295px; min-width:294px">
        <div class="lead">PFD HDG Knob</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS1000_HEADING_PFD',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_HEADING_SYNC_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
                </button>
                <button onclick="triggerSimEvent('AS1000_HEADING_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </div>
        </div>
    </div>


    <!-- AP Softkeys -->
    <div class="col" style="margin-top:20px; max-width:232px; min-width:230px">
        <div class="lead">PFD AP Buttons</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_AP_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">AP
                </button>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_FD_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">FD
                </button>
                <br>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_HEADING_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">HDG
                </button>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_ALTITUDE_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">ALT
                </button>
                <br>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_NAVIGATION_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">NAV
                </button>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_VERTICAL_NAVIGATION_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">VNV
                </button>
                <br>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_APPROACH_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">APR
                </button>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_BACKCOURSE_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">BC
                </button>
                <br>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_VERTICALSPEED_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">VS
                </button>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_VERTICALSPEED_UP_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">N. UP
                </button>
                <br>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_FLIGHTLEVELCHANGE_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">FLC
                </button>
                <button onclick="triggerSimEvent('AS1000_AUTOPILOT_VERTICALSPEED_DOWN_PFD',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">N. DN
                </button>
                <br>
            </div>
        </div>
    </div>

    <!-- ALT Knob -->
    <div class="col" style="margin-top:20px; max-width:295px; min-width:294px">
        <div class="lead">PFD Alt Knob</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AP_ALT_VAR_DEC_1000',0,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AP_ALT_VAR_DEC',0,true);$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AP_ALT_VAR_INC',0,true);$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AP_ALT_VAR_INC_1000',0,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </div>
        </div>
    </div>
    <br>

    <!-- Lower Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">PFD Lower Softkeys</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_1_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">1
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_2_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">2
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_3_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">3
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_4_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">4
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_5_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">5
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_6_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">6
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_7_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">7
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_8_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">8
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_9_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">9
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_10_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">10
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_11_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">11
                </button>
                <button onclick="triggerSimEvent('AS1000_SOFTKEY_12_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">12
                </button>
            </div>
        </div>
    </div>
    <br>


    <!-- Joystick Softkeys -->
    <div class="col" style="margin-top:20px; max-width:295px; min-width:294px">
        <div class="lead">PFD Joystick</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS1000_RANGE_PFD',[-1.0, 0.0, 0.0],true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-arrow-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_RANGE_PFD',[0.0, 0.0, 1.0],true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-arrow-up"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_RANGE_PFD',[0.0, 0.0, -1.0],true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-arrow-down"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_RANGE_PFD',[1.0, 0.0, 0.0],true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-arrow-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_RANGE_PUSH_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-light" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">
                    PUSH
                </button>
                <br>
                <table>
                    <tr>
                        <td style="width:98px">Range:</td>
                        <td>
                            <button onclick="triggerSimEvent('AS1000_RANGE_ZOOM_PFD',-1,true, 'input');$(this).blur();"
                                    type="button" class="btn btn-secondary"
                                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">-
                            </button>
                            <button onclick="triggerSimEvent('AS1000_RANGE_ZOOM_PFD',1,true, 'input');$(this).blur();"
                                    type="button" class="btn btn-secondary"
                                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">+
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <!-- GPS Softkeys -->
    <div class="col" style="margin-top:20px; max-width:232px; min-width:230px">
        <div class="lead">PFD GPS Keys</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS1000_DIRECTTO_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">D->
                </button>
                <button onclick="triggerSimEvent('AS1000_MENU_PUSH_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">MENU
                </button>
                <br>
                <button onclick="triggerSimEvent('AS1000_FPL_PUSH_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">FPL
                </button>
                <button onclick="triggerSimEvent('AS1000_PROC_PUSH_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PROC
                </button>
                <br>
                <button onclick="triggerSimEvent('AS1000_CLR_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">CLR
                </button>
                <button onclick="triggerSimEvent('AS1000_ENT_PUSH_PFD',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">ENT
                </button>
                <br>
            </div>
        </div>
    </div>

    <!-- FMS Softkeys -->
    <div class="col" style="margin-top:20px; max-width:295px; min-width:294px">
        <div class="lead">PFD FMS Knob</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS1000_FMS_LOWER_PFD',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_FMS_UPPER_PFD',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_FMS_UPPER_PUSH_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
                </button>
                <button onclick="triggerSimEvent('AS1000_FMS_UPPER_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS1000_FMS_LOWER_PFD',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </div>
        </div>
    </div>

</div>
