<!-- First Row-->
<div class="row" style="margin-top:-23px">

        <!-- PFD Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">PFD Softkeys</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_1',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">1
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_2',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">2
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_3',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">3
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_4',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">4
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_5',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">5
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_6',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">6
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_7',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">7
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_8',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">8
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_9',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">9
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_10',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">10
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_11',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">11
                </button>
                <button onclick="triggerSimEvent('AS3000_PFD_1_SOFTKEY_12',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">12
                </button>
            </div>
        </div>
    </div>
    <br>

    <!-- MFD Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">MFD Softkeys</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_1',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">1
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_2',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">2
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_3',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">3
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_4',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">4
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_5',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">5
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_6',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">6
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_7',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">7
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_8',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">8
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_9',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">9
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_10',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">10
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_11',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">11
                </button>
                <button onclick="triggerSimEvent('AS3000_MFD_1_SOFTKEY_12',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">12
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:-23px">
    <!-- Left Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">Left buttons</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS3000_TSC_1_FREQUENCY_KNOB_MHZ',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_1_FREQUENCY_KNOB_KHZ',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_1_FREQUENCY_SWAP',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_1_FREQUENCY_KNOB_KHZ',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_1_FREQUENCY_KNOB_MHZ',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>

                <br>
                <br>
                <button onclick="triggerSimEvent('AS3000_TSC_1_SOFTKEY_1',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">---
                </button>
                <br>
                <button onclick="triggerSimEvent('AS3000_TSC_1_SOFTKEY_2',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">---
                </button>
                <br>
                <button onclick="triggerSimEvent('AS3000_TSC_1_SOFTKEY_3',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">---
                </button>
                <br>
                <br>

                <button onclick="triggerSimEvent('AS3000_TSC_1_MULTIFUNCTION_KNOB',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_1_MULTIFUNCTION_KNOB_BUTTON',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_1_MULTIFUNCTION_KNOB',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Middle Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">Middle buttons</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('AS3000_TSC_2_FREQUENCY_KNOB_MHZ',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_2_FREQUENCY_KNOB_KHZ',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_2_FREQUENCY_SWAP',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_2_FREQUENCY_KNOB_KHZ',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_2_FREQUENCY_KNOB_MHZ',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>

                <br>
                <br>
                <button onclick="triggerSimEvent('AS3000_TSC_2_SOFTKEY_1',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">---
                </button>
                <br>
                <button onclick="triggerSimEvent('AS3000_TSC_2_SOFTKEY_2',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">---
                </button>
                <br>
                <button onclick="triggerSimEvent('AS3000_TSC_2_SOFTKEY_3',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">---
                </button>
                <br>
                <br>

                <button onclick="triggerSimEvent('AS3000_TSC_2_MULTIFUNCTION_KNOB',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_2_MULTIFUNCTION_KNOB_BUTTON',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
                </button>
                <button onclick="triggerSimEvent('AS3000_TSC_2_MULTIFUNCTION_KNOB',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
            </div>
        </div>
    </div>

</div>
