<!-- First Row-->
<div class="row">
    <!-- Aircraft selection -->
    <div class="col">
        <div class="lead" style="margin-bottom:10px">Select Aircraft</div>
        <form method="POST"
              action="{{ '/' if request.path == '/' else '/landscape' }}">
            <div class="form-group">
                <select id="aircraft_selector" name="plane_selected" class="form-select">
                    {% for i in aircraft_list %}
                        <option value="{{ i }}"
                                {% if i == current_aircraft_ui_friendly %}selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="manual_aircraft_selection"
                       name="manual_aircraft_selection" value="true"
                       {% if manual_aircraft_selection %}checked{% endif %}>
                <label class="form-check-label" for="manual_aircraft_selection">Manual aircraft selection</label>
            </div>
            <div class="form-group" style="margin-bottom:0px">
                <button type="submit" id="load_aircraft_button" class="btn btn-secondary">Load aircraft</button>
            </div>
        </form>
    </div>
</div>

<hr class="bg-secondary">

<!-- Second Row-->
<div class="row">
    <!-- Ladning Details -->
    <div class="col" style="margin-top:0px">
        <div class="lead" style="margin-bottom:10px">Simulation Rate</div>
        <p style="margin-bottom:5px">Current simulation rate : <span id="sim-rate">N/A</span>x</p>
        <button type="button" onclick="triggerSimEvent ('SIM_RATE_DECR', 0, true); $(this).blur();"
                class="btn btn-secondary" style="width:42px" title="Decrease sim rate."><i class="bi bi-dash"></i>
        </button>
        <button type="button" onclick="triggerSimEvent ('PAUSE_OFF', 1, true); $(this).blur();"
                class="btn btn-secondary" style="width:42px" title="Active pause off."><i class="bi bi-play-fill"></i>
        </button>
        <button type="button" onclick="triggerSimEvent ('PAUSE_ON', 1, true); $(this).blur();" class="btn btn-secondary"
                style="width:42px" title="Active pause On."><i class="bi bi-pause"></i></button>
        <button type="button" onclick="triggerSimEvent ('SIM_RATE_INCR', 0, true); $(this).blur();"
                class="btn btn-secondary" style="width:42px" title="Increase sim rate."><i class="bi bi-plus"></i>
        </button>
    </div>
</div>

<hr class="bg-secondary">

<!-- Third Row-->
<div class="row">
    <!-- Display Mode -->
    <div class="col" style="margin-top:0px">
        <div class="lead" style="margin-bottom:10px">Display Mode</div>
        <table>
            <tr>
                <td style="width:100px; padding-right: 50px">
                    <p style="margin-bottom:3px">Portrait</p>
                    <p><a href="/"><img src="/static/img/mode-portrait.png" alt="Portrait mode"
                                        style="height:100px;width:auto"></a></p>
                </td>
                <td>
                    <p style="margin-bottom:3px">Landscape</p>
                    <p><a href="/landscape"><img src="/static/img/mode-landscape.png" alt="Landscape mode"
                                                 style="width:100px;height:auto;padding-top: 24px"></a></p>
                </td>
            </tr>
        </table>
        <p class="font-italic text-secondary" style="margin-bottom:0px">You will lose your existing GPS track line when
            switching between display modes.</p>
    </div>
</div>

<hr class="bg-secondary">

<div class="row">
    <!-- OpenAIP API Key -->
    <div class="col" style="margin-top:0px">
        <div class="lead" style="margin-bottom:10px">OpenAIP API key</div>
        <form method="POST"
              action="{{ url_for('index', _external=False) }}">
            <div class="form-group">
                <input name="api_key" class="form-control" value="{{ api_key }}" placeholder="API Key">
            </div>
            <div class="form-group" style="margin-bottom:0px">
                <button type="submit" class="btn btn-secondary">Load API Key</button>
            </div>
        </form>
        <p class="font-italic text-secondary" style="margin-bottom:0px">If the aviation layer is not working you might
            need to create and insert your <a href="https://www.openaip.net/" target="_blank" class="text-light">
                OpenAIP</a> API key to access
            it. The last used key will be persisted in your config.ini file.</p>
    </div>
</div>
<br>
<hr class="bg-secondary">
<br>
<!-- Last Row Information -->
<div class="row" style="margin-top:15px">
    <div class="col">
        <p><a href="https://www.paypal.com/donate/?hosted_button_id=JQ36HM86VSNYE"
              target="_blank"><img src="/static/img/donate_paypal.png" alt="Donate here"></a></p>
        <p class="font-italic text-secondary" style="margin-bottom:0px">Support the development by donating above.</p>
        <p class="font-italic text-secondary" style="margin-bottom:0px">MSFS Glass v2.0.0-beta</p>
        <p class="font-italic text-secondary" style="margin-bottom:0px">Follow the development on <a
                href="https://github.com/fzsombor/MSFS-Glass" target="_blank"
                class="text-light">GitHub</a>.</p>
    </div>
</div>

<script>

    $(document).ready(function () {
        function togglePlaneSelector() {
            if ($('#manual_aircraft_selection').prop('checked')) {
                $('#aircraft_selector').prop('disabled', false);
                $('#load_aircraft_button').text('Load aircraft');
            } else {
                $('#aircraft_selector').prop('disabled', true);
                $('#load_aircraft_button').text('Reload automatically selected');
            }
        }

        // Run on page load to set initial state
        togglePlaneSelector();

        // Attach event listener to checkbox
        $('#manual_aircraft_selection').change(function () {
            togglePlaneSelector();
        });
    });


</script>