	<div class="collapse {% if (post_loop.first) and (request.path != "/") %}show{% endif %}" id="collapseefis_a320" data-parent="#myGroup">
		<div class="card bg-dark text-white" style="margin-top:10px;margin-bottom:12px;">
			<div class="card-body">
			
				<!-- First Row-->
				<div class="row" style="margin-top:-23px">
					
					<!-- EFIS Control Panel -->
					<div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
						<div class="lead" style="margin-bottom:4px">EFIS Control Panel</div>
						<div class="row" style="margin-bottom:10px">
						<div class="col">
							
							<button onclick="triggerSimEvent('AIRLINER_ND_SEL_CSTR_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">CSTR</button>
                            <button onclick="triggerSimEvent('AIRLINER_ND_SEL_WPT_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">WPT</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_SEL_VOR_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">VOR.D</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_SEL_NDB_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">NDB</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_SEL_ARPT_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">ARPT</button>
							
							<p style="margin-top:16px;margin-bottom:4px">Mode Selector</p>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_MODE_CPT',0,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">LS</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_MODE_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">VOR</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_MODE_CPT',2,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">NAV</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_MODE_CPT',3,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">ARC</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_MODE_CPT',4,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PLAN</button>
							
							<p style="margin-top:16px;margin-bottom:4px">Range Selector</p>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_RANGE_CPT',0,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">10</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_RANGE_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">20</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_RANGE_CPT',2,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">40</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_RANGE_CPT',3,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">80</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_RANGE_CPT',4,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">160</button>
							<button onclick="triggerSimEvent('AIRLINER_ND_MAP_RANGE_CPT',5,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">320</button>
							
							<table style="margin-top:16px">
								<tr>
									<td style="width:113px">VOR/ADF 1:</td>
									<td>
										<button onclick="triggerSimEvent('AIRLINER_ND_VOR_1_CPT',0,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">ADF</button>
										<button onclick="triggerSimEvent('AIRLINER_ND_VOR_1_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-danger" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">OFF</button>
										<button onclick="triggerSimEvent('AIRLINER_ND_VOR_1_CPT',2,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">VOR</button>
									</td>
								</tr>
								<tr>
									<td>VOR/ADF 2:</td>
									<td>
										<button onclick="triggerSimEvent('AIRLINER_ND_VOR_2_CPT',0,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">ADF</button>
										<button onclick="triggerSimEvent('AIRLINER_ND_VOR_2_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-danger" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">OFF</button>
										<button onclick="triggerSimEvent('AIRLINER_ND_VOR_2_CPT',2,true,'input');$(this).blur();" type="button" class="btn btn-secondary" style="width:53px;padding-left:0px;padding-right:0px;text-align:center">VOR</button>
									</td>
								</tr>
							</table>
							
							<table style="margin-top:16px">
								<tr>
									<td style="width:58px">FD:</td>
									<td>
										<button onclick="triggerSimEvent('AIRLINER_ND_SEL_FD_FO',1,true,'input');$(this).blur();" type="button" class="btn btn-light" style="width:79px;padding-left:0px;padding-right:0px;text-align:center">ON/OFF</button>
									</td>
								</tr>
								<tr>
									<td>ILS:</td>
									<td>
										<button onclick="triggerSimEvent('AIRLINER_ND_SEL_LS_CPT',1,true,'input');$(this).blur();" type="button" class="btn btn-light" style="width:79px;padding-left:0px;padding-right:0px;text-align:center">ON/OFF</button>
									</td>
								</tr>
							</table>
							
							<table style="margin-top:16px">
								<tr>
									<td style="width:58px">BARO:</td>
									<td>
										<button onclick="triggerSimEvent('KOHLSMAN_DEC',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">-</button>
										<button onclick="triggerSimEvent('KOHLSMAN_INC',0,true);$(this).blur();" type="button" class="btn btn-secondary" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">+</button>
										<button onclick="triggerSimEvent('INSTRUMENT_QNH_UNIT_CPT_IE_ID',0,true,'input');$(this).blur();" type="button" class="btn btn-warning" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">QFE</button>
										<button onclick="triggerSimEvent('INSTRUMENT_QNH_UNIT_CPT_IE_ID',1,true,'input');$(this).blur();" type="button" class="btn btn-warning" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">QNH</button>
										<button onclick="triggerSimEvent('INSTRUMENT_QNH_CPT_PULL',1,true,'input');$(this).blur();" type="button" class="btn btn-warning" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">STD</button>
										<button onclick="triggerSimEvent('INSTRUMENT_QNH_CPT_PUSH',1,true,'input');$(this).blur();" type="button" class="btn btn-warning" style="width:51px;padding-left:0px;padding-right:0px;text-align:center">MAN</button>
									</td>
								</tr>
							</table>
						</div>
						</div>
					</div>
				
				
				
				</div>

			
			</div>
		</div>
	</div>