<!-- First Row-->
<div class="row" style="margin-top:-23px">

    <!-- PFD1 Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">Pilot PFD Softkeys</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_1_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">1
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_2_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">2
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_3_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">3
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_4_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">4
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_5_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">5
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_6_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">6
                </button>
                -
                <br><br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_7_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">7
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_8_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">8
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_9_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">9
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_10_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">10
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_11_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">11
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_12_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">12
                </button>
                -
            </div>
            <div class="col">
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_13_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">1
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_14_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">2
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_15_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">3
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_16_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">4
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_17_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">5
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_18_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">6
                </button>
                <br><br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_19_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">7
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_20_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">8
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_21_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">9
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_22_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">10
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_23_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">11
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_1_SOFTKEY_24_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">12
                </button>
            </div>

        </div>
    </div>
    <br>

    <!-- PFD2 Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">CoPilot PFD Softkeys</div>
        <div class="row" style="margin-bottom:10px">
            <div class="col">
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_1_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">1
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_2_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">2
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_3_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">3
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_4_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">4
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_5_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">5
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_6_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">6
                </button>
                -
                <br><br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_7_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">7
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_8_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">8
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_9_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">9
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_10_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">10
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_11_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">11
                </button>
                -
                <br>
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_12_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">12
                </button>
                -
            </div>
            <div class="col">
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_13_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">1
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_14_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">2
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_15_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">3
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_16_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">4
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_17_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">5
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_18_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">6
                </button>
                <br><br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_19_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">7
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_20_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">8
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_21_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">9
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_22_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">10
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_23_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">11
                </button>
                <br>
                -
                <button onclick="triggerSimEvent('INSTRUMENT_PFD_2_SOFTKEY_24_PUSH',1,true,'input');$(this).blur();"
                        type="button"
                        class="btn btn-secondary"
                        style="width:25px;padding-left:0px;padding-right:0px;text-align:center">12
                </button>
            </div>
        </div>
    </div>
</div>

<!-- TSC Softkeys -->
<div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
    <div class="lead">TSC buttons</div>
    <div class="row" style="margin-bottom:10px">
        <div class="col" style="max-width:120px;text-align: center;">
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_L_OUTER',-1,true,'input');$(this).blur();"
                    type="button" class="btn btn-secondary"
                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                <i class="bi bi-caret-left-fill"></i>
            </button>
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_L_INNER',-1,true,'input');$(this).blur();"
                    type="button" class="btn btn-secondary"
                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                <i class="bi bi-caret-left"></i>
            </button>
            <br>
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_L_INNER_PUSH',1,true,'input');$(this).blur();"
                    type="button" class="btn btn-light"
                    style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
            </button>
            <br>
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_L_INNER',1,true,'input');$(this).blur();"
                    type="button" class="btn btn-secondary"
                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                <i class="bi bi-caret-right"></i>
            </button>
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_L_OUTER',1,true,'input');$(this).blur();"
                    type="button" class="btn btn-secondary"
                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                <i class="bi bi-caret-right-fill"></i>
            </button>
        </div>
        <div class="col" style="max-width: 110px;text-align: center;">


            <button onclick="triggerSimEvent('INSTRUMENT_TSC_SOFTKEY_1_PUSH',1,true,'input');$(this).blur();"
                    type="button"
                    class="btn btn-secondary"
                    style="width:25px;padding-left:0px;padding-right:0px;text-align:center">|
            </button>


            <button onclick="triggerSimEvent('INSTRUMENT_TSC_SOFTKEY_2_PUSH',1,true,'input');$(this).blur();"
                    type="button"
                    class="btn btn-secondary"
                    style="width:25px;padding-left:0px;padding-right:0px;text-align:center">|
            </button>


            <button onclick="triggerSimEvent('INSTRUMENT_TSC_SOFTKEY_3_PUSH',1,true,'input');$(this).blur();"
                    type="button"
                    class="btn btn-secondary"
                    style="width:25px;padding-left:0px;padding-right:0px;text-align:center">|
            </button>

        </div>
        <div class="col" style="max-width:120px;text-align: center;">
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_R_OUTER',-1,true,'input');$(this).blur();"
                    type="button" class="btn btn-secondary"
                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                <i class="bi bi-caret-left-fill"></i>
            </button>
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_R_INNER',-1,true,'input');$(this).blur();"
                    type="button" class="btn btn-secondary"
                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                <i class="bi bi-caret-left"></i>
            </button>
            <br>
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_R_INNER_PUSH',1,true,'input');$(this).blur();"
                    type="button" class="btn btn-light"
                    style="width:65px;padding-left:0px;padding-right:0px;text-align:center">PUSH
            </button>
            <br>
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_R_INNER',1,true,'input');$(this).blur();"
                    type="button" class="btn btn-secondary"
                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                <i class="bi bi-caret-right"></i>
            </button>
            <button onclick="triggerSimEvent('INSTRUMENT_TSC_KNOB_R_OUTER',1,true,'input');$(this).blur();"
                    type="button" class="btn btn-secondary"
                    style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                <i class="bi bi-caret-right-fill"></i>
            </button>
        </div>
    </div>
</div>

