
<div class="row" style="margin-top:-23px">
    <!-- Left Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">PFD</div>
        <div class="row" style="margin-bottom:10px">

            <div class="col" stlye="text-align:center">


                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_OUTER_L',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_INNER_L',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_INNER_BUTTON_L',[1.0,0,0],true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    PUSH
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_INNER_L',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_OUTER_L',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                Left Knob

                <br>
                <br>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_NEAREST',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">NRST
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_DIRECTTO',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">-D->
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_MENU',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">MENU
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_BACK',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">BACK
                </button>
                <br>
                <br>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_OUTER_R',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_INNER_R',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_INNER_BUTTON_R',[1.0,0,0],true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    PUSH
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_INNER_R',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_1_KNOB_OUTER_R',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                Right Knob
            </div>
        </div>
    </div>

    <!-- Right Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">MFD</div>
        <div class="row" style="margin-bottom:10px">

            <div class="col" stlye="text-align:center">


                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_OUTER_L',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_INNER_L',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_INNER_BUTTON_L',[1.0,0,0],true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    PUSH
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_INNER_L',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_OUTER_L',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                Left Knob

                <br>
                <br>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_NEAREST',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">NRST
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_DIRECTTO',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">-D->
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_MENU',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">MENU
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_BACK',1,true,'input');$(this).blur();" type="button"
                        class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">BACK
                </button>
                <br>
                <br>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_OUTER_R',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left-fill"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_INNER_R',-1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-left"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_INNER_BUTTON_R',[1.0,0,0],true,'input');$(this).blur();"
                        type="button" class="btn btn-light"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    PUSH
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_INNER_R',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right"></i>
                </button>
                <button onclick="triggerSimEvent('AS3X_TOUCH_2_KNOB_OUTER_R',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:45px;padding-left:0px;padding-right:0px;text-align:center">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
                Right Knob
            </div>
        </div>
    </div>

    <!-- AS650 Softkeys -->
    <div class="col" style="margin-top:20px; max-width:400px; min-width:332px">
        <div class="lead">G650</div>
        <div class="row" style="margin-bottom:10px">

            <div class="col" stlye="text-align:center">


                <button onclick="triggerSimEvent('AS650_BUTTON_HOME',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">
                    HOME
                </button>
                <button onclick="triggerSimEvent('AS650_BUTTON_DIRECT_TO',1,true,'input');$(this).blur();"
                        type="button" class="btn btn-secondary"
                        style="width:50px;padding-left:0px;padding-right:0px;text-align:center">
                    -D->
                </button>
            </div>
        </div>
    </div>

</div>
